* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #111, #333);
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-container {
  background: white;
  padding: 40px;
  width: 100%;
  max-width: 380px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  text-align: center;
}

.auth-container h1 {
  margin-bottom: 10px;
  color: #111;
}

.subtitle {
  color: #777;
  margin-bottom: 20px;
}

label {
  display: block;
  text-align: left;
  margin-top: 15px;
  font-weight: 600;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.2s;
}

input:focus {
  border-color: #000;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 25px;
  border: none;
  border-radius: 8px;
  background: #000;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #222;
}

.link {
  margin-top: 15px;
  font-size: 14px;
}

.link a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

#message {
  margin-top: 15px;
  font-size: 14px;
  color: crimson;
}
